.title {
    width: 554px;
    height: 150px;
    position:absolute;
    top:274px;
    left:151px;
    font-family: Gmarket Sans;
    font-size: 54px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.39;
    letter-spacing: -1px;
    color: #19191a;
}

.subtitle {
    width: 456.2px;
    height: 26px;
    position:absolute;
    top:443px;
    left:151px;
    font-family: KoPubWorldDotum;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: -0.5px;
    color: #b3b3b3;
}
.harmony_logo{
    width: 60px;
    height: 60px;
    position: absolute;
    top:8px;
    left:144px;
}
.download {
    width: 165px;
    height: 40px;
    position:absolute;
    top:507px;
    left:151px;
    opacity: 0.56;
    border-radius: 5px;
    border: solid 1px #000000;}

.login_signup{
    width: 130px;
    height: 40px;
    border-radius: 5px;
    border: solid 1px #000000;
    position: absolute;
    top:20px;
    left:1159px;
    background-color:#ffffff;
    line-height:40px;
    font-family: KoPubWorldDotum;
    text-align:center;
    opacity:0.6;
}
.btn{
    width: 65px;
    height: 19px;
    position:absolute;
    top:-3px;
    left:40px;
    opacity: 0.46;
    font-family: KoPubWorldDotum;
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.33px;
    color: #000000;
}      
.img1{
    width:8px;
    height:10px;
    position:absolute;
    top:14px;
    left:109px;
}
.img2{
    width:12px;
    height:2px;
    position:absolute;
    top:25px;
    left:107px;
}
.Outside {
    width: 392px;
    height: 750px;
    position:absolute;
    top:286px;
    left:702px;
    border-radius: 40px;
    border: solid 1px #333333;
    }
.Inside {
    width: 388px;
    height: 740px;
    position:absolute;
    top:292px;
    left:704px;
    border-radius: 36px;
    border: solid 1px #cccccc;}
.screen {
    width: 376px;
    height: 715px;
    position:absolute;
    top:304px;
    left:710px;
    border-radius: 32px;
    border: solid 1px #333333;
}
.phonebtn1 {
    width: 5px;
    height: 112px;
    position:absolute;
    top:396px;
    left:698px;
    border-radius: 3px;
    border: solid 1px #333333;
}
.phonebtn2 {
    width: 5px;
    height: 56px;
    position:absolute;
    top:558px;
    left:698px;
    border-radius: 3px;
    border: solid 1px #333333;}
.phonebtn3 {
    width: 5px;
    height: 56px;
    position:absolute;
    top:434px;
    left:1093px;
    border-radius: 3px;
    border: solid 1px #333333;}

    .bottom{
        width: 1440px;
        height: 300px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
        background-color: #e1e1e1;
        position: absolute;
        top:1205px;
        left:0px;
    }
    .bottom_hm_logo{
        width: 70px;
        height: 70px;
        position: absolute;
        top:80px;
        left:143px;
    }
    #detail{
        width: 270px;
        height: 75px;
        opacity: 0.57;
        font-family: KoPubWorldDotum;
        font-size: 12px;
        font-weight: 300;
        line-height: 2.08;
        letter-spacing: -0.33px;
        color: #000000;
    }
    .detail1{
        position: absolute;
        top:176px;
        left:153px;
    }
    .detail2{
        position: absolute;;
        top:176px;
        left:425px;
    }
    .copyright{
        width: 144px;
        height: 42px;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.5;
        letter-spacing: -0.32px;
        color: #818181;
        position: absolute;
        top:92px;
        left:423px;
    }
    #policy{
        width: 130px;
        height: 26px;
        opacity: 0.57;
        font-family: KoPubWorldDotum;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.63;
        letter-spacing: -0.44px;
        color: #000000;
        text-align:right;
        border:0;
        outline:0;
        background-color: #e1e1e1;
    }
    .privacy_policy{
        position: absolute;
        top:141px;
        left:1181px;
    }
    .use_policy{
        position: absolute;
        top:177px;
        left:1181px;
    }
    #sns{
        width: 30px;
        height: 30px;
        opacity: 0.43;
        border-radius:15px;
        background-color: #000000;
        overflow:hidden;
        border:0;
        outline:0;
    }
    #logo{
        width:100%;
        height:100%;
        object-fit:cover;
    }
    .instagram{
        position: absolute;
        top:89px;
        right:225px;
    }
    .twitter{
        position: absolute;
        top:89px;
        right:180px;
    }
    .facebook{
        position: absolute;
        top:89px;
        right:135px;
    }

    .main_login{
        width: 470px;
        height: 530px;
        position: absolute;
        top:248px;
        left:491px;
        border-radius: 5px;
        box-shadow: 0 40px 80px 0 rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
        opacity:0;
    }
    .main_login:target{
        opacity:1;
    }
    .icon{
        width:15px;
        height:15px;
        position:absolute;
        top:21px;
        left:421px;
    }
    #i{
        width: 398px;
        height: 60px;
        border-radius: 5px;
        border: solid 1px #e2e2e2;
        background-color: #ffffff;
        font-family: KoPubWorldDotum;
        font-size: 14px;
        font-weight: 300;
        color: #bdbdbd;
    }
    .email{
        position:absolute;
        top:71px;
        left:30px;
    }
    .password{
        position:absolute;
        top:161px;
        left:30px;
    }
    .find{
        width: 80px;
        height: 19px;
        opacity: 0.45;
        background-color: #ffffff;
        border:0;
        outline:0;
        font-family: KoPubWorldDotum;
        font-size: 11px;
        font-weight: 500;
        color: #1e2022;
        position:absolute;
        top:230px;
        left:44px;
    }
    #b{
        width: 184px;
        height: 40px;
        opacity: 0.52;
        border-radius: 5px;
        border: solid 1px #000000;
        background-color:#ffffff;
        font-family: KoPubWorldDotum;
        font-size: 14px;
        color: #000000;
    }
    #b:hover{
        background-color:#000000;
        font-family: KoPubWorldDotum;
        font-size: 14px;
        color: #ffffff;
    }
    .login{
        position: absolute;
        top:271px;
        left:30px;
    }
    .signup{
        position: absolute;
        top:271px;
        left:244px;
    }
    .login2{
        width: 80px;
        height: 17px;
        font-family: KoPubWorldDotum;
        font-size: 11px;
        color: rgba(30, 32, 34, 0.47);
        position:absolute;
        top:353px;
        left:189px;
    }
    #rectangle{
        width: 109px;
        height: 1px;
        border: 0;
        background-color:rgba(151, 151, 151, 0.35);
    }
    .r1{
        position: absolute;
        top:361px;
        left:68px;
    }
    .r2{
        position:absolute;
        top:361px;
        left:281px;
    }
    #rectangle2{
        width: 39px;
        height: 37px;
        border-radius: 4px;
        background-color: #d8d8d8;
    }
    .naver{
        position:absolute;
        top:386px;
        left:133px;
    }
    .kakao{
        position:absolute;
        top:386px;
        left:210px;
    }
    .google{
        position:absolute;
        top:386px;
        left:285px;
    }
    .notyet{
        width: 117px;
        height: 17px;
        font-family: KoPubWorldDotum;
        font-size: 11px;
        font-weight: 300;
        color: rgba(30, 32, 34, 0.47);
        position:absolute;
        top:471px;
        left:147px;
    }
    .signup2{
        width: 52px;
        height: 19px;
        font-family: KoPubWorldDotum;
        font-size: 11px;
        font-weight: 500;
        color: #1e2022;
        position:absolute;
        top:470px;
        left:255px;
        border:0;
        outline:0;
        background-color:#ffffff;
    }
    
   
