body{
    width: 458px;
    height: 518px;
}
.icon{
    width:15px;
    height:15px;
    position:absolute;
    top:21px;
    left:421px;
}
#i{
    width: 398px;
    height: 60px;
    border-radius: 5px;
    border: solid 1px #e2e2e2;
    background-color: #ffffff;
    font-family: KoPubWorldDotum;
    font-size: 14px;
    font-weight: 300;
    color: #bdbdbd;
}
.email{
    position:absolute;
    top:71px;
    left:30px;
}
.password{
    position:absolute;
    top:161px;
    left:30px;
}
.find{
    width: 80px;
    height: 19px;
    opacity: 0.45;
    background-color: #ffffff;
    border:0;
    outline:0;
    font-family: KoPubWorldDotum;
    font-size: 11px;
    font-weight: 500;
    color: #1e2022;
    position:absolute;
    top:230px;
    left:44px;
}
#b{
    width: 184px;
    height: 40px;
    opacity: 0.52;
    border-radius: 5px;
    border: solid 1px #000000;
    background-color:#ffffff;
    font-family: KoPubWorldDotum;
    font-size: 14px;
    color: #000000;
}
#b:hover{
    background-color:#000000;
    font-family: KoPubWorldDotum;
    font-size: 14px;
    color: #ffffff;
}
.login{
    position: absolute;
    top:271px;
    left:30px;
}
.signup{
    position: absolute;
    top:271px;
    left:244px;
}
.login2{
    width: 80px;
    height: 17px;
    font-family: KoPubWorldDotum;
    font-size: 11px;
    color: rgba(30, 32, 34, 0.47);
    position:absolute;
    top:353px;
    left:189px;
}
#rectangle{
    width: 109px;
    height: 1px;
    border: 0;
    background-color:rgba(151, 151, 151, 0.35);
}
.r1{
    position: absolute;
    top:361px;
    left:68px;
}
.r2{
    position:absolute;
    top:361px;
    left:281px;
}
#rectangle2{
    width: 39px;
    height: 37px;
    border-radius: 4px;
    background-color: #d8d8d8;
}
.naver{
    position:absolute;
    top:386px;
    left:133px;
}
.kakao{
    position:absolute;
    top:386px;
    left:210px;
}
.google{
    position:absolute;
    top:386px;
    left:285px;
}
.notyet{
    width: 117px;
    height: 17px;
    font-family: KoPubWorldDotum;
    font-size: 11px;
    font-weight: 300;
    color: rgba(30, 32, 34, 0.47);
    position:absolute;
    top:471px;
    left:147px;
}
.signup2{
    width: 52px;
    height: 19px;
    font-family: KoPubWorldDotum;
    font-size: 11px;
    font-weight: 500;
    color: #1e2022;
    position:absolute;
    top:470px;
    left:255px;
    border:0;
    outline:0;
    background-color:#ffffff;
}