body{
    width:1550px;
    height:5000px;
    background-color:#f8f8f8;
}
.top{
    width: 1550px;
    height: 82px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    position:absolute;
    top:0px;
    left:0px;
    box-shadow: none;
}
.harmony{
    width: 80px;
    height: 35px;
    background-color: #ffffff;
    position:absolute;
    top:28px;
    left:125px;
    border:0;
    overflow:hidden;
}
.harmony_logo{
    width:100%;
    height:100%;
    object-fit:cover;
}
.find{
    width: 622px;
    height: 44px;
    border-radius: 40px;
    border: solid 1px #e0e0e0;
    position:absolute;
    top:19px;
    left:215px;
}
.findbtn{
    width: 35px;
    height: 35px;
    position:absolute;
    top:27px;
    left:793px;
    background-color:#ffffff;
    border:0;
}
.findbtnimg{
    width: 30px;
    height:30px;
}
#btn{
    width: 80px;
    height: 27px;
    font-family: KoPubWorldDotum;
    font-size: 14px;
    font-weight: 500;
    color:#c6c6c6;
    background-color:#ffffff;
    border:0;
    outline:0;
}
.write_post{
    position:absolute;
    top:30px;
    left:883px;
}
.mypage{
    position:absolute;
    top:30px;
    left:976px;
}
.bookmark{
    position:absolute;
    top:30px;
    left:1055px;
}
.alarm{
    width: 25px;
    height: 30px;
    position:absolute;
    top:28px;
    left:1135px;
    border:0;
    outline:0;
    overflow:hidden;
    background-color:#ffffff;
}
.alarm_photo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#prof_photo{
    width: 38px;
    height: 38px;
    border-radius: 19px;
    border: solid 0.9px #cacaca;
    background-color:#ffffff;
    overflow:hidden;
}
.photo1{
    position: absolute;
    top:21px;
    left:1179px;
}
.human{
    width:100%;
    height:100%;
    object-fit:cover;
}
.prof_name{
    width: 40px;
    height: 17px;
    font-family:KoPubWorldDotum;
    font-size: 14px;
    letter-spacing: -0.5px;
    color: #bdbdbd;
    position:absolute;
    top:32px;
    left:1234px;
}
.profile{
    width:1550px;
    height:435.5px;
    position:absolute;
    top:82px;
    left:0px;
}
.background{
    background-color: #d8d8d8;
    width:1550px;
    height:260px;
    position: absolute;
    top:0px;
    left:0px;
}
.photo{
    width: 106px;
    height: 106px;
    border: solid 3px #ffffff;
    border-radius:53px;
    background-color:#ffffff;
    position:absolute;
    top:208px;
    left:661px;
}
.name{
    width: 65px;
    height: 32px;
    font-family: KoPubWorldDotum;
    font-size: 21px;
    font-weight: bold;
    letter-spacing: 1.31px;
    color: rgba(21, 21, 21, 0.87);
    position:absolute;
    top:342px;
    left:688px;
}
.follow{
    width: 34px;
    height: 19px;
    opacity: 0.28;
    font-family: KoPubWorldDotum;
    font-size: 12px;
    letter-spacing: 0.75px;
    color: rgba(21, 21, 21, 0.87);
    position:absolute;
    top:349px;
    left:752px;
}
.introduction{
    width: 253px;
    height: 22px;
    opacity: 0.79;
    font-family: KoPubWorldDotum;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.88px;
    color: rgba(21, 21, 21, 0.87);
    position:absolute;
    top:380px;
    left:594px;
}
.line1{
    width: 1154px;
    height: 2px;
    opacity: 0.73;
    background-color:rgba(151, 151, 151, 0.86);
    border:0;
    position:absolute;
    top:435.5px;
    left:144px;
}
.project{
    width:720px;
    height:3000px;
    position:absolute;
    top:517.5px;
    left:0px;
}
.title_proj{
    width: 75px;
    height: 31px;
    font-family: KoPubWorldDotum;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1.25px;
    color: rgba(21, 21, 21, 0.87);
    position:absolute;
    top:33.5px;
    left:144px;
}
.photo_proj{
    width: 517px;
    height: 517px;
    opacity: 0.37;
    border-radius: 12px;
    background-color: #000000;
    position: absolute;
    top:83.5px;
    left:144px;
}
.ability{
    width:720px;
    height:3000px;
    position:absolute;
    top:517.5px;
    left:720px;
}
.introduction_detail{
    width:720px;
    height:159.8px;
    position: absolute;
    top:0px;
    left:0px;
}
.title_id{
    width: 38px;
    height: 31px;
    font-family: KoPubWorldDotum;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1.25px;
    color: rgba(21, 21, 21, 0.87);
    position:absolute;
    top:33.5px;
    left:10px;
}
.content_id{
    width: 500px;
    height: 72px;
    font-family: KoPubWorldDotum;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.71;
    letter-spacing: 0.88px;
    text-align: justify;
    color: rgba(30, 32, 34, 0.51);
    position:absolute;
    top:79.5px;
    left:10px;
}
#line{
    width: 567px;
    height: 1.5px;
    opacity: 0.38;
    background-color:#979797;
    border:0;
}
.line2{
    position:absolute;
    top:159.8px;
    left:10px;
}
.education{
    width:720px;
    height:234.9px;
    position:absolute;
    top:159.8px;
    left:0px;
}
.title_edu{
    width: 38px;
    height: 31px;
    font-family: KoPubWorldDotum;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1.25px;
    color: rgba(21, 21, 21, 0.87);
    position:absolute;
    top:13.8px;
    left:10px;
}
.photo_edu{
    width: 58px;
    height: 58px;
    border-radius:29px;
    opacity:0.4;
    border: solid 0.9px #979797;
    background-color: #d8d8d8;
    position:absolute;
    top:63.8px;
    left:10px;
    overflow: hidden;
}
._photo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.name_edu{
    width: 110px;
    height: 25px;
    opacity: 0.53;
    font-family: KoPubWorldDotum;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #000000;
    position:absolute;
    top:63.8px;
    left:93px;
}
.content_edu{
    width: 120px;
    height: 20px;
    opacity: 0.35;
    font-family: KoPubWorldDotum;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.81px;
    color: #000000;
    position:absolute;
    top:89.8px;
    left:93px;
}
.period_edu{
    width: 120px;
    height: 20px;
    opacity: 0.35;
    font-family: KoPubWorldDotum;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.81px;
    color: #000000;
    position:absolute;
    top:112.8px;
    left:93px;
}
.line3{
    position:absolute;
    top:234.9px;
    left:10px;
}
.desired_job{
    width:720px;
    height:250px;
    position:absolute;
    top:396.6px;
    left:0px;
}
.title_dj{
    width: 75px;
    height: 31px;
    font-family: KoPubWorldDotum;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1.25px;
    color: rgba(21, 21, 21, 0.87);
    position:absolute;
    top:18.9px;
    left:10px;
}
#dj{
    width: 40px;
    height: 20px;
    opacity: 0.53;
    font-family: KoPubWorldDotum;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.88px;
    color: #000000;
}
.first_dj{
    position:absolute;
    top:66.9px;
    left:10px;
}
.second_dj{
    position:absolute;
    top:94.9px;
    left:10px;
}
#job{
    width: 78px;
    height: 20px;
    opacity: 0.5;
    font-family: KoPubWorldDotum;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0.88px;
    color: #000000;
}
.first_job{
    position:absolute;
    top:66.9px;
    left:66px;
}
.second_job{
    position:absolute;
    top:94.9px;
    left:66px;
}