@font-face{
    font-family: 'KoPubWorldDotum';
    src: url(KoPubWorldDotumMedium.ttf);
}

.title {
  font-family: KoPubWorldDotum;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: -0.56px;
  color: #000000;
  text-align: center;
  margin-top: 78px;
  }

  .processText {
    opacity: 0.29;
    font-family: KoPubWorldDotum;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.73;
    letter-spacing: -0.42px;
    color: #000000;
    display: inline-block;
    margin-left: 5px;
  }

  .numDefault{      
    width: 25px;
    height: 25px;
    opacity: 0.51;
    background-color: white;
    border-radius: 50%;
    border: solid 1px #979797;    
    color: #979797;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
  }

  .numSelect {
    width: 25px;
    height: 25px;
    opacity: 0.51;
    background-color: #000000;
    border: solid 1px #000000;
    border-radius: 50%;
    color: white;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
  }

  .button{
    background-color: white;
    width: 80px;
    height: 40px;
    opacity: 0.6;
    border-radius: 5px;
    border: solid 1px #000000;    
    font-family: KoPubWorldDotum;
    color: #000000;
  }

  .button2{
    width: 96px;
    height: 29px;
    border-radius: 4px;
    background-color: #eeeeee;
    border: 0;
    font-family: KoPubWorldDotum;
    color: #c6c6c6;
    font-size: 12px;
    font-weight: bold;
  }

  .button3{
    width: 120px;
    height: 40px;
    border-radius: 5px;
    background-color: #000000;    
    opacity: 0.36;
    font-family: KoPubWorldDotum;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;  
    border: 0;    
  }

  input::placeholder {
    font-family: KoPubWorldDotum;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.32px;
    color: #bdbdbd;
  }

  input:focus {outline:none;}

  .editBox{
    width: 402px;
    height: 60px;
    border-radius: 5px;
    border: solid 1px #e2e2e2;
    background-color: #ffffff;
    margin-bottom: 30px;
    font-family: KoPubWorldDotum;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    padding-left: 15px;
  }

  .line{
      color: #979797;
      opacity: 0.56;
  }

  .editLine{
    width: 394px;
    height: 32.5px;
    margin-bottom: 30px;
    font-family: KoPubWorldDotum;
    opacity: 0.6;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    padding-left: 15px;
    border: 0px;
    border-bottom: solid 1px rgba(151, 151, 151, 0.35);
  }

  .centerAndLeft{
    position: absolute; 
    text-align: left; 
    left: 40%; 
  }

  .text{
    font-family: KoPubWorldDotum;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.75px;
    color: rgba(30, 32, 34, 0.51);
  }

  .check input[type="checkbox"]{
      display: none;
  }

  .check input[type="checkbox"] + label{
      display: inline-block;
      width: 20px;
      height: 20px;
      border-radius: 4px;
      border: solid 1px #D5D5D5;
      cursor: pointer;   
  }

  .check input[type="checkbox"]:checked + label {
      width: 20px;
      height: 20px;
      background: url(check_box.png);
      background-size:cover;
      border: solid 1px #404040;
      opacity: 1;
      
  }

  .check input[type="checkbox"] + label span{
      opacity: 1;
      position: absolute;
      font-family: KoPubWorldDotum;
      font-size: 12px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 0.75px;
      color: rgba(30, 32, 34, 0.51);
      margin-left: 35px;
  }
  
  select::-ms-expand{
      display:none;
  }

  .selectbox{
      position: relative;
      width: 130px;
      border-radius: 5px;
      border: solid 1px #d9d9d9;
      z-index: 1;
      padding: .11px .10px;
      font-family: KoPubWorldDotum;
      font-size: 12px;
  }

  .selectbox:before { 
      /* 화살표 대체 */ 
      content: ""; 
      position: absolute; 
      top: 45%; 
      right: 8px; 
      width: 0; 
      height: 0; 
      margin-top: -1px; 
      border-left: 5px solid transparent; 
      border-right: 5px solid transparent; 
      opacity: 0.37;
      border-top: 5px solid #000000; 
    }

    .selectbox label { 
        position: absolute; 
        top: 1px; /* 위치정렬 */ 
        left: 7px; /* 위치정렬 */ 
        padding-top: 11px;
        padding-bottom: 10px; /* select의 여백 크기 만큼 */ 
        color: rgba(30, 32, 34, 0.51);
        z-index: -1; /* IE8에서 label이 위치한 곳이 클릭되지 않는 것 해결 */ 
    }

    .selectbox select{
        width: 130px;
        padding-top: 11px;
        padding-bottom: 11px;
        font-family: KoPubWorldDotum;
        font-size: 12px;
        border: 0; 
        opacity: 0; /* 숨기기 */ 
        filter:alpha(opacity=0); /* IE8 숨기기 */      
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
  
    
  div.edit{
    position: relative;
    text-align: center;
    margin-top: 137px;
    line-height: 1em;
  }

  div.btn{
    text-align: right;
    margin-right: 216px;
    margin-top: 158px;
  }

  div.center{      
    text-align: center;
  }

  div.inline{      
    display: inline-block;
  }