/*글꼴 적용하려면 필요*/
@font-face{
    font-family: "KoPubWorldDotumBold";
    src: url(../assets/font/KoPubWorld\ Dotum\ Bold.ttf);
}

@font-face{
    font-family: "KoPubWorldDotumMedium";
    src: url(../assets/font/KoPubWorld\ Dotum\ Medium.ttf);
}

@font-face{
    font-family: "KoPubWorldDotum";
    src: url(../assets/font/KoPubWorld\ Dotum\ Light.ttf);
}

body{
    width:1440px;
    height:5000px;
    background-color:#d8d8d8;
}

.top{
    width: 1550px;
    height: 82px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    position:absolute;
    top:0px;
    left:0px;
    box-shadow: none;
}
.find{
    width: 622px;
    height: 44px;
    border-radius: 40px;
    border: solid 1px #e0e0e0;
    position:absolute;
    top:19px;
    left:215px;
}
.findbtn{
    width: 35px;
    height: 35px;
    position:absolute;
    top:27px;
    left:793px;
    background-color:#ffffff;
    border:0;
}
.findbtnimg{
    width: 30px;
    height:30px;
}
.harmony{
    width: 80px;
    height: 35px;
    background-color: #ffffff;
    position:absolute;
    top:28px;
    left:125px;
    border:0;
    overflow:hidden;
}
.harmony_logo{
    width:100%;
    height:100%;
    object-fit:cover;
}
#btn{
    width: 80px;
    height: 27px;
    font-family: KoPubWorldDotum;
    font-size: 14px;
    font-weight: 500;
    color:#c6c6c6;
    background-color:#ffffff;
    border:0;
    outline:0;
}
.write_post{
    position:absolute;
    top:30px;
    left:883px;
}
.mypage{
    position:absolute;
    top:30px;
    left:976px;
}
.bookmark{
    position:absolute;
    top:30px;
    left:1055px;
}
.alarm{
    width: 25px;
    height: 30px;
    position:absolute;
    top:28px;
    left:1135px;
    border:0;
    outline:0;
    overflow:hidden;
    background-color:#ffffff;
}
.alarm_photo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.prof_name{
    width: 40px;
    height: 17px;
    font-family:KoPubWorldDotum;
    font-size: 14px;
    letter-spacing: -0.5px;
    color: #bdbdbd;
    position:absolute;
    top:32px;
    left:1234px;
}
.post{ 
    width: 1009px;
    height: 550px;
    border-radius: 5px;
    border: 2px solid #979797;
    position:absolute;
    top:136px;
    left:215px;
    background-color:#ffffff;
}
.photo{
    width: 621px;
    height: 550px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color:#000000;
}
.profile{
    width:389px;
    height:62.5px;
    position:absolute;
    top:0px;
    left:620.5px;
}
#prof_photo{
    width: 38px;
    height: 38px;
    border-radius: 19px;
    border: solid 0.9px #cacaca;
    background-color:#ffffff;
    overflow:hidden;
}
.photo1{
    position: absolute;
    top:21px;
    left:1179px;
}
.human{
    width:100%;
    height:100%;
    object-fit:cover;
}
.photo2{
    position: absolute;
    top:14px;
    left:24px;
}
.name{
    width: 50px;
    height: 25px;
    font-family: KoPubWorldDotum;
    font-size: 16px;
    font-weight:bold;
    letter-spacing: 1px;
    color: #000000;
    position: absolute;
    top:12px;
    left:88px;
}
.posttime{
    width: 32px;
    height: 17px;
    opacity: 0.34;
    font-family: KoPubWorldDotum;
    font-size: 11px;
    font-weight: bold;
    color: rgba(21, 21, 21, 0.87);
    position:absolute;
    top:35px;
    left:322px;
}
.follow{
    width: 31px;
    height: 17px;
    opacity: 0.34;
    font-family: KoPubWorldDotum;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0.69px;
    color: rgba(21, 21, 21, 0.87);
    position:absolute;
    top:36px;
    left:90px;
}
#line{
    width: 389px;
    height: 1.5px;
    opacity: 0.38;
    background-color:#979797;
}
.line1{
    position:absolute;
    top:62.5px;
    left:0px;
}
.contents{
    position:absolute;
    top:62.5px;
    left:621px;
}
.title{
    width: 339px;
    height: 19px;
    opacity: 0.73;
    font-family: KoPubWorldDotum;
    font-size: 12px;
    letter-spacing: 0.75px;
    color: #000000;
    position:absolute;
    top:9.5px;
    left:24px;
}
.cont{
    width: 325px;
    height: 57px;
    opacity: 0.75;
    font-family: KoPubWorldDotum;
    font-size: 11px;
    font-weight: 300;
    line-height: 1.73;
    letter-spacing: 0.69px;
    text-align: justify;
    color: #1e2022;
    position:absolute;
    top:33.5px;
    left:24px;
}
.hashtag{
    width:55px;
    height:17px;
    opacity: 0.75;
    font-family: KoPubWorldDotum;
    font-size: 11px;
    letter-spacing: 0.69px;
    text-align: center;
    color: rgba(0, 0, 0, 0.87);
    position:absolute;
    top:101.5px;
    left:24px;
}
.line2{
    position:absolute;
    top:122.8px;
    left:0px;
}
.show{
    position:absolute;
    top:187.3px;
    left:621px;
}
.like{
    position:absolute;
    top:10.8px;
    left:24px;
    width: 65px;
    height: 19px;
    opacity: 0.59;
    font-family: KoPubWorldDotum;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.75px;
    color: #000000;

}
.heart{
    border:none;
    width: 20px;
    height: 16px;
    object-fit: contain;
    cursor:pointer;
    position:absolute;
    top:11.8px;
    left:226px;
}

.message{
    background:url(../assets/image/icon5.png) no-repeat;
    border:none;
    width: 20px;
    height: 20px;
    object-fit: contain;
    cursor:pointer;
    position:absolute;
    top:10px;
    left:280px;
}

.bm{
    background:url(../assets/image/icon6.png) no-repeat;
    border:none;
    width: 10px;
    height: 20px;
    object-fit: contain;
    cursor:pointer;
    position:absolute;
    top:10px;
    left:336px;
}
.line3{
    position: absolute;
    top:37px;
    left:0px;
}
.comment{
    position:absolute;
    top:226.3px;
    left:621px;
    -ms-overflow-style: none;
}

.comment::-webkit-scrollbar{
    display: none;
}

.line4{
    position:absolute;
    top:489px;
    left:621px;
}
.write_comment{
    width: 347px;
    height: 37.2px;
    opacity: 0.22;
    border-radius: 22px;
    border: solid 0.9px #979797;
    position:absolute;
    top:501.4px;
    left:641px;
}
.enroll{
    width: 40px;
    height: 23px;
    opacity: 0.76;
    font-family: KoPubWorldDotum;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.54;
    letter-spacing: 0.81px;
    color: rgba(21, 21, 21, 0.87);
    position:absolute;
    top:510.1px;
    left:946px;
    border:0;
    outline:0;
    background-color:#ffffff;
}
.heart_cnt{
    position:absolute;
    left:250px;
    width: 16px;
    height: 16px;
    opacity: 0.59;
    font-family: KoPubWorldDotum;
    font-size: 11px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.63px;
    color: #000000;
}

.message_cnt{
    position:absolute;
    left:305px;
    width: 16px;
    height: 16px;
    opacity: 0.59;
    font-family: KoPubWorldDotum;
    font-size: 11px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.63px;
    color: #000000;
}

.bm_cnt{
    position:absolute;
    left:355px;
    width: 16px;
    height: 16px;
    opacity: 0.59;
    font-family: KoPubWorldDotum;
    font-size: 11px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.63px;
    color: #000000;
}

.comment_name{
    width: 50px;
    height: 20px;
    font-family: KoPubWorldDotum;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: 0.75px;
    color: rgba(21, 21, 21, 0.87);
}

.comment_info{
    width: 45px;
    height: 18px;
    opacity: 0.27;
    font-family: KoPubWorldDotum;
    font-size: 10px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.63px;
    color: #000000;
}

.reCommentBtn{
    width: 65px;
    height: 20px;
    opacity: 0.68;
    font-family: KoPubWorldDotum;
    font-size: 10px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.63px;
    color: #000000;
    border: none;
    background-color: #ffffff;
    margin-top: 7px;
    margin-left: 10px;
}

.re_write_comment{
    display: none;
    position: relative;
    width: 250px;
    margin-left: 90px;
    opacity: 0.22;
    border-radius: 22px;
    border: solid 0.9px #979797;
    font-size: 11px;
    padding: 5px;
    
}

.re_enroll{
    display: none;
    position: relative;
    left: -40px;
    opacity: 0.76;
    font-size: 11px;
    font-weight: bold;
    line-height: 1.54;
    letter-spacing: 0.81px;
    color: rgba(21, 21, 21, 0.87);
    border: 0px;
    outline: 0px;
    background-color: #ffffff;
    
}