@font-face{
    font-family: "KoPubWorldDotumBold";
    src: url(../assets/font/KoPubWorld\ Dotum\ Bold.ttf);
}

@font-face{
    font-family: "KoPubWorldDotumMedium";
    src: url(../assets/font/KoPubWorld\ Dotum\ Medium.ttf);
}

body{
    background-color: rgba(216, 216, 216, 0.17);
}

.pe_edit_pen{
    width: 15px;
    height: 19px;
    background: url('../assets/image/edit_pen.PNG') 100% no-repeat;
    background-size: 15px 19px;
    border: none;
}

.pe_category_title{ /*큰 타이틀*/
    font-family: KoPubWorldDotumBold;
    margin-top: 17px;
    margin-left: 15px;
    font-size: 20px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.25px;
    color: rgba(21, 21, 21, 0.87);
}

.pe_title{
    height: 19px;
    margin-top: 15px;
    margin-left: 15px;
    font-family: KoPubWorldDotumBold;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.75px;
    text-align: justify;
    color: rgba(30, 32, 34, 0.51);
}

.pe_category{ /*각 폼들 중앙정렬*/
    width: 602px;
    margin: 0 auto;
}

.pe_form{
    margin-top: 34px;
    margin-left: 15px;
    border-radius: 3px;
    border: solid 0.6px #c8c8c8;
    background-color: #ffffff;
}

.pe_school_img{
    width: 62px;
    height: 62px;
    float: left;
    margin-left: 15px;
    margin-right: 21px;
    border: solid 0.9px #979797;
    border-radius: 50%;
}

.pe_school_name{
    width: 220px;
    height: 25px;
    opacity: 0.53;
    font-family: KoPubWorldDotum;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #000000;
}

.pe_school_info{
    width: 220px;
    height: 20px;
    opacity: 0.35;
    margin-top: -15px;
    font-family: KoPubWorldDotum;
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.81px;
    color: #000000;
}

.pe_input{
    margin-left: 15px;
    height: 42px;
    border: solid 0.7px rgba(151, 151, 151, 0.28);
    border-radius: 4px;
}

.pe_output_text{
    margin-left: 15px;
    font-family: KoPubWorldDotum;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.88px;
    text-align: justify;
    color: rgba(30, 32, 34, 0.51);
}

.pe_button{
    width: 74px;
    height: 39px;
    display: inline-block;
    border-radius: 4px;
    border: none;
    font-family: KoPubWorldDotumMedium;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.88px;
    color: rgba(21, 21, 21, 0.87);
}

.pe_button_small{
    width: 47px;
    height: 20px;
    display: inline-block;
    border-radius: 4px;
    border: none;
    font-family: KoPubWorldDotumMedium;
    font-size: 10px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.88px;
    color: rgba(21, 21, 21, 0.87);
}
.pe_parent::after{
    display:block;
    content:"";
    clear:both;
}

.pe_level_inputc{
    height: 46px;
    margin-left: -5px;
    border: solid 1px rgba(151, 151, 151, 0.35);;
    border-radius: 4px;
    outline: none;
    background: transparent;
    -webkit-appearance: none;
}

#pe_top {
    width: 100%;
    height: 263px;
    background-color: #d8d8d8;
    overflow:hidden;
}

#pe_center {
    width: 100%;
    height: 172.5px;
    position: static;
}

#pe_profile_img{
    width: 106px;
    height: 106px;
    top: 208px;
    border-radius: 50%;
    border: solid 3px #ffffff;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

#pe_name{
    width: 67px;
    height: 32px;
    font-family: KoPubWorldDotum;
    font-size: 21px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.31px;
    color: rgba(21, 21, 21, 0.87);
    margin-top: 28px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
}

#pe_slogan{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 10%);
}

#pe_slogan_input{
    width: 290px;
    height: 18px;
    border-radius: 4px;
    resize: none;
    border: solid 0.7px rgba(151, 151, 151, 0.28);
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    margin-top: 30px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 340%);
}

#pe_intro_input{
    width: 548px;
    height: 72px;
    border-radius: 4px;
    resize: none;
    border: solid 0.7px rgba(151, 151, 151, 0.28);
    margin-left: 15px;
}

#pe_select_arrow{
    width: 322px;
    background: url('../assets/image/arrow-right-black.png') 100% no-repeat;
    background-size: 10px 15px;
}

#pe_degree_input{
    height: 46px;
    margin-left: -5px;
    border: solid 1px rgba(151, 151, 151, 0.35);;
    border-radius: 4px;
    outline: none;
    background: transparent;
    -webkit-appearance: none;
}

