<!DOCTYPE html>
<html>
    <head>
        <title>마이페이지 프로필 수정</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="../../style/profile_edit.css">
    </head>
    <body>
        <div id="pe_top"></div>
        <img id="pe_profile_img" src="../../assets/image/profile_img.jpg">
        <div id="pe_center">
            <button type="button" class="pe_edit_pen"></button>
            <p id="pe_name">김유민</p>
            <p id="pe_pf_message">유연한 사고를 가진 마케터, 김유민입니다!</p>
        </div>
        <hr>
        <div class="pe_category">
            <form class="pe_form">
                <p class="pe_category_title">소개</p>
                <textarea id="pe_intro_input"></textarea>
                <button class="pe_button" type="reset" style="background-color: rgba(216, 216, 216, 0.26); margin-top: 25px; margin-left: 390px; margin-bottom: 19px; outline-color: rgba(216, 216, 216, 0.26);">취소</button>
                <button class="pe_button" type="submit" style="background-color: #d8d8d8; margin-top: 25px; margin-left: 25px; margin-bottom: 19px; outline-color: #d8d8d8;">저장</button>
                <!--
                <p class="pe_title">안녕하세요. 무언가에 얽매이지않고</p>-->
            </form>
        </div>
        <div class="pe_category">
            <form class="pe_form">
                <p class="pe_category_title">학력</p>
                <p class="pe_title">기관명</p>
                <input class="pe_input" type="text" name="pe_school" placeholder="학교, 연구실, 교육기관 등을 입력하세요."style="position: relative; width: 382px;">
                <img src="../../assets/image/arrow-right-black.png" style="position: relative; top: 3px; left: -20px; width: 10px; height: 15px;">
                <div style="float:left; width: 32%;">
                    <p class="pe_title">전공</p>
                    <input class="pe_input" type="text" name="pe_major" placeholder="전공명을 입력하세요."style="width: 142px;">
                </div>
                <div class="pe_parent">
                    <p class="pe_title">학위</p>
                    <select id="pe_degree" name="pe_degree" style="width: 204px; margin-left: 0px;">
                        <option value="학사">학사</option>
                        <option value="석사">석사</option>
                        <option value="박사">박사</option>
                    </select>
                    <img src="../../assets/image/arrow-right-black.png" style="position: relative; top: 3px; left: -20px; width: 10px; height: 15px;">
                </div>   
                <div style="float:left; padding-right: 20px;"> 
                    <p class="pe_title">입학연도</p>
                    <input class="pe_input" type="year" name="pe_e_year" placeholder="YY"style="width: 130px;">
                    <img src="../../assets/image/arrow-right-black.png" style="position: relative; top: 3px; left: -20px; width: 10px; height: 15px;">
                </div>
                <div>
                    <p class="pe_title" style="padding-left: 185px;">졸업연도</p>
                    <input class="pe_input" type="year" name="pe_g_year" placeholder="YY"style="width: 130px; margin-left:12px;">
                    <img src="../../assets/image/arrow-right-black.png" style="position: relative; top: 3px; left: -20px; width: 10px; height: 15px;">
                </div>
                <div style="float:right; margin-right:17px; margin-top: -42px;">
                    <button class="pe_button" type="button" style="background-color: rgba(139, 139, 139, 0.15); width: 69px; height: 35px;">+ 추가</button>
                </div>
                <div style="clear:both; margin-top: 30px;">
                    <button class="pe_button" type="reset" style="background-color: rgba(216, 216, 216, 0.26); margin-top: 25px; margin-left: 390px; margin-bottom: 19px; outline-color: rgba(216, 216, 216, 0.26);">취소</button>
                    <button class="pe_button" type="submit" style="background-color: #d8d8d8; margin-top: 25px; margin-left: 25px; margin-bottom: 19px; outline-color: #d8d8d8;">저장</button>
                </div>
                <!--
                <div>
                    <img class="pe_school_img" src="../../assets/image/school_img.png">
                    <p class="pe_school_name">숙명여자대학교</p>
                    <p class="pe_school_info">마케팅 전공(학사)</p>
                    <p class="pe_school_info">2020년 ~ 2023년</p>
                </div>-->
            </form>
        </div>
    </body>
</html>
