/*글꼴 적용하려면 필요*/
@font-face{
    font-family: "KoPubWorldDotumBold";
    src: url(../assets/font/KoPubWorld\ Dotum\ Bold.ttf);
}

@font-face{
    font-family: "KoPubWorldDotumMedium";
    src: url(../assets/font/KoPubWorld\ Dotum\ Medium.ttf);
}

@font-face{
    font-family: "KoPubWorldDotum";
    src: url(../assets/font/KoPubWorld\ Dotum\ Light.ttf);
}
   
body{
    width:1550px;
    height:5000px;
    background-color:#f8f8f8;
}
.top{
    width: 1550px;
    height: 82px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    position:absolute;
    top:0px;
    left:0px;
}
.harmony{
    width: 80px;
    height: 35px;
    background-color: #ffffff;
    position:absolute;
    top:28px;
    left:125px;
    border:0;
    overflow:hidden;
}
.harmony_logo{
    width:100%;
    height:100%;
    object-fit:cover;
}
.find{
    width: 622px;
    height: 44px;
    border-radius: 40px;
    border: solid 1px #e0e0e0;
    position:absolute;
    top:19px;
    left:215px;
}
.findbtn{
    width: 35px;
    height: 35px;
    position:absolute;
    top:27px;
    left:793px;
    background-color:#ffffff;
    border:0;
}
.findbtnimg{
    width: 30px;
    height:30px;
}
#btn{
    width: 80px;
    height: 27px;
    font-family: KoPubWorldDotum;
    font-size: 14px;
    font-weight: 500;
    color:#c6c6c6;
    background-color:#ffffff;
    border:0;
    outline:0;
}
.write_post{
    position:absolute;
    top:30px;
    left:883px;
}
.mypage{
    position:absolute;
    top:30px;
    left:976px;
}
.bookmark{
    position:absolute;
    top:30px;
    left:1055px;
}
.alarm{
    width: 25px;
    height: 30px;
    position:absolute;
    top:28px;
    left:1135px;
    border:0;
    outline:0;
    overflow:hidden;
    background-color:#ffffff;
}
.alarm_photo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#prof_photo{
    width: 38px;
    height: 38px;
    border-radius: 19px;
    border: solid 0.9px #cacaca;
    background-color:#ffffff;
    overflow:hidden;
}
.photo1{
    position: absolute;
    top:21px;
    left:1179px;
}
.human{
    width:100%;
    height:100%;
    object-fit:cover;
}
.prof_name{
    width: 40px;
    height: 17px;
    font-family:KoPubWorldDotum;
    font-size: 14px;
    letter-spacing: -0.5px;
    color: #bdbdbd;
    position:absolute;
    top:32px;
    left:1234px;
}
.search_page{
    width:1550px;
    height:4000px;
    position: absolute;
    top:82px;
    left:0px;
}
.sp_title{
    width: 80px;
    height: 31px;
    font-family: KoPubWorldDotum;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1.25px;
    color: rgba(21, 21, 21, 0.87);
    position: absolute;
    top:71px;
    left:144px;
}

ul {
    padding: 16px 0;
    position: absolute;
    top:100px;
    left:144px;
}

ul li {
    display: inline-block;
    font-size: 13px;
    font-family: KoPubWorldDotum;
    letter-spacing: -.5px;
    margin-right:15px;
}

ul li.tag-item {
    padding: 4px 8px;
    background-color: #777;
    color: #000;
    width: 81px;
    height: 31px;
    border-radius: 19px;
    background-color: #d8d8d8; 
    text-align: center;
    line-height:31px;
    color: rgba(49, 49, 49, 0.87);
    border:0;
    outline:0;
}

.tag-item:hover {
    background-color: #262626;
    color: #fff;
}

.del-btn {
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 10px;
}

.result1{
    width: 464px;
    height: 345px;
    position: absolute;
    top: 295px;
    left:144px;
    background-color:#ffffff;
}
.result2{
    width: 464px;
    height: 234px;
    position: absolute;
    top: 663px;
    left:144px;
    background-color:#ffffff;
}
.result3{
    width:464px;
    height:234px;
    position: absolute;
    top: 919px;
    left:144px;
    background-color:#ffffff;
}
.result4{
    width:327px;
    height:244px;
    position: absolute;
    top: 295px;
    left:625px;
    background-color:#ffffff;
}
.result5{
    width:327px;
    height:500px;
    position: absolute;
    top: 554px;
    left:625px;
    background-color:#ffffff;
}
.result6{
    width:327px;
    height:471px;
    position: absolute;
    top: 295px;
    left:970px;
    background-color:#ffffff;
}
.result7{
    width:327px;
    height:471px;
    position: absolute;
    top: 788px;
    left:970px;
    background-color:#ffffff;
}

.alarm_page{
    width: 360px;
    height: 319px;
    border-radius: 3px;
    border: solid 0.5px rgba(151, 151, 151, 0.19);
    background-color: #ffffff;
    position: absolute;
    top:82px;
    left:795px;
    display:flex;
}
